html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-image: url("../images/sky.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 10px 20px;
    line-height: 1.5;
}

.tableContainer {
    overflow-y: auto;
}

.body--dark {
    background-image: url("../images/darksky.png");
}